<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>{{ empresa.nome }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% include 'imports/head.html' %}
    {% if empresa.logotipo %}
      <link rel="icon" type="image/png" href="{{ empresa.logotipo.url }}" />
    {% endif %}
    <link rel="stylesheet" href="{% static 'css/background.css' %}" />
  </head>

  <body background="{% if empresa.background_img %}{{ empresa.background_img.url }}{% endif %}" class="overflow-x-hidden">
    <div class="flex items-center justify-center min-h-screen bg-[{{ empresa.background }}]">
      {% block content %}
        
      {% endblock %}
    </div>
    {% include 'imports/footer.html' %}
  </body>
</html>
