<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>{{ empresa.nome }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% include 'imports/head.html' %}
    {% if empresa.logotipo %}
      <link rel="icon" type="image/png" href="{{ empresa.logotipo.url }}" />
    {% endif %}
  </head>
  <body class="bg-gray-100 text-gray-900">
    {% block content %}

    {% endblock %}
    {% include 'imports/footer.html' %}
  </body>
</html>
